html,body { height: 100%; }

form{
	padding-top: 10px;
	font-size: 14px;
}

.card-title{ font-weight:600; }

.btn{
	font-size: 14px;
	margin-top:20px;
}

.login-form{ 
	display: flex;
    align-items: center;
    text-align: center;
    margin: 0rem 25rem;
}
.card{
    border: none;
}
.card-body{
    border: 1px solid lightgray;
    border-radius: 20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

span{
	font-size:14px;
}